PORT=8081
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_BUCKET_RAW=pre-processed
MINIO_BUCKET_PROCESSED=processed
MINIO_BUCKET_PUBLIC=public
API_KEY=secret-api-key
PUBLIC_BASE_URL=http://localhost:8081
STREAM_SECRET=super-secret-stream-key
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
APP_ENV=development
REDIS_ADDRESS=redis:6379
